body{
    background-image: linear-gradient(to right,pink,blue);
}
h1{
    color:navy;
    border: 2px solid #CCCCCC; /* Border color */
      padding: 10px; /* Padding inside the border */
      border-radius: 5px; /* Border radius for rounded corners */
}
button{
    background-color: #D3D3D3   ; /* Platinum */
    color: #C6A9A3; /* Dust*/
      padding: 10px 20px;
      border: 2px solid #CCCCCC; /* Border color */
      border-radius: 5px;
      cursor: pointer;
}
body {
  background-color: #222; /* Dark background color */
  color: #fff; /* White text color */
}

body {
  background-color: #222; /* Dark background color */
  color: #fff; /* White text color */
}

.animation-container {
  border-color: #222;
  background-image: linear-gradient(to right,pink,blue);
  font-size: 70px;
  text-align:center;
}

h1 {
  font-size: 36px; /* Larger font size */
  margin-bottom: 20px; /* Spacing below text */
}

#cursor {
  color: #ff6600; /* Orange cursor color */
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animated-button {
  background-color:#D3D3D3  ; /* Green */
  border: none;
  color: #C6A9A3;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s; /* Transition for background-color and transform */
}

.animated-button:hover {
  background-color:chocolate; /* Darker green on hover */
  transform: scale(1.1); /* Scale up the button on hover */
}

.animated-button:active {
  background-color:maroon; /* Even darker green on click */
}
