body{
    background-image: linear-gradient(to right,pink,blue);
}
h1{
    color:navy;
    border: 2px solid #CCCCCC; /* Border color */
      padding: 10px; /* Padding inside the border */
      border-radius: 5px; /* Border radius for rounded corners */
}
button{
    background-color: #D3D3D3   ; /* Platinum */
    color: #C6A9A3; /* Dust*/
      padding: 10px 20px;
      border: 2px solid #CCCCCC; /* Border color */
      border-radius: 5px;
      cursor: pointer;
}
.animation-container {
  font-family: Arial, sans-serif;
  font-size: 24px;
  position: relative;
}

#cursor {
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}