body{
  background-image: linear-gradient(to right,pink,blue);

}

h1{
  border: 2px solid;
      padding: 10px; 
      border-radius: 5px; 
    color: white ;
    background-color: black;
}


.animated-button {
  background-color:#D3D3D3  ; /* Green */
  border: none;
  color: #C6A9A3;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s; 
}

.animated-button:hover {
  background-color:chocolate; 
  transform: scale(1.1);
}

.animated-button:active {
  background-color:maroon;
}

