body{
    background-image: linear-gradient(to right,pink,blue);
  }
  
  h1{
    border: 2px solid;
    padding: 10px; 
    border-radius: 5px; 
    color:  burlywood  ;
    background-color: black;
    }